@layout MainLayout
@page "/cdashboard"
@using Microsoft.AspNetCore.Authorization
@* @attribute [Authorize(Roles = "admin,courier")] *@
@rendermode InteractiveServer

 <h3>CourierOrder</h3>

@code {

}
