@layout MainLayout
@page "/"

<div class="content-section section-1 part-1">
    <div class="part-1-header">
        <span>Welcome to Food Delivery Company</span>
        <p>We are the fastest system in the world.</p>
    </div>
    <div class="part-1-body">
        <img src="https://images.vector-images.com/clp5/254123/clp4028113.jpg" alt="FoodDeliveryCompany" class="" width="300" height="300" />
    </div>
</div>

<div class="content-section section-2 part-2">
    <div class="part-2-left">
        <img src="https://cdn.pixabay.com/photo/2017/09/12/21/02/earth-2743662_960_720.png" alt="ThisIsAEarthImage" class="" width="450" height="450" />
    </div>
    <div class="part-2-right">
        <span>&#9632; We are in 131 countries.</span>
        <span>&#9632; We have 10000+ personnel.</span>
        <span>&#9632; We have security.</span>
    </div>
</div>

<div class="content-section section-1 part-3">
    <div class="part-3-header">
        <span>Thank you for choosing us !!</span>
    </div>
    <div class="part-3-body">
        <span>Contact Us</span>
        <div>
            <a href="https://www.x.com">Twitter</a>
            <a href="https://www.facebook.com">Facebook</a>
            <a href="https://www.youtube.com">Youtube</a>
            <a href="https://www.tiktok.com">Tiktok</a>
            <a href="https://examplemail.gmail.com">Email</a>
        </div>
    </div>
</div>

@code{

}